.title-section {
    background-color: #f1f1f1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}

.page-title {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.breadcrumb-nav {
    font-size: 1rem;
    color: #333;
}

.breadcrumb-nav a {
    color: #174DAF;
    text-decoration: none;
    margin-left: 0.5rem;
}

.breadcrumb-nav a:hover {
    text-decoration: underline;
}

.breadcrumb-nav span {
    color: #333;
}
