<div class="sidebar">
    <div class="logo">
        <img src="../../assets/images/logo2.png" alt="Logo">
    </div>
    <nav class="mt-4">
        <a href="dashboard.html" class="nav-link active d-flex align-items-center">
            <i class="bi bi-speedometer2"></i><span>Dashboard</span>
        </a>
        <a href="products.html" class="nav-link d-flex align-items-center">
            <i class="bi bi-box-seeder"></i><span>Sản phẩm</span>
        </a>
        <a href="orders.html" class="nav-link d-flex align-items-center">
            <i class="bi bi-cart-check"></i><span>Đơn hàng 147</span>
        </a>
        <a href="customers.html" class="nav-link d-flex align-items-center">
            <i class="bi bi-people"></i><span>Khách hàng</span>
        </a>
        <a href="news.html" class="nav-link d-flex align-items-center">
            <i class="bi bi-newspaper"></i><span>Tin tức</span>
        </a>
        <a href="#" id="logoutBtn" class="nav-link d-flex align-items-center text-danger">
            <i class="bi bi-box-arrow-right"></i><span>Đăng xuất</span>
        </a>
    </nav>
</div>